<h1>Employee Data</h1>

<p>This component demonstrates fetching Employee data from the server.</p>

<p *ngIf="!empData"><em>Loading...</em></p>

<p>
    <a [routerLink]="['/register-employee']">Create New</a>
</p>

<table class='table' *ngIf="empData">
    <thead>
        <tr>
            <th>EmployeeId</th>
            <th>Employee Login</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Home Address</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of empData.employee">
            <td>{{ emp.id }}</td>
            <td>{{ emp.employeeLogin }}</td>
            <td>{{ emp.firstName }}</td>
            <td>{{ emp.lastName }}</td>
            <td>{{ emp.phoneNumber }}</td>
            <td>{{ emp.email }}</td>
            <td>{{ emp.homeAddress }}</td>
            <td>{{ emp.department.name }}</td>
            <td>
            <td>
                <a [routerLink]="['/employee/edit/', emp.id]">Edit</a> |
                <a [routerLink]="" (click)="confirmDelete(emp.id)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="empData">
    <a *ngIf="empData.pageViewModel.hasPreviousPage" (click)="move(empData.pageViewModel.pageNumber - 1)" class="btn btn-default btn"> <i class="glyphicon glyphicon-chevron-left"></i> Назад</a>
    <a *ngIf="empData.pageViewModel.hasNextPage" (click)="move(empData.pageViewModel.pageNumber + 1)" class="btn btn-default btn"> <i class="glyphicon glyphicon-chevron-right"></i>Вперед</a>
</div>