<h1>Employee Data</h1>

<p>This component demonstrates fetching Employee data from the server.</p>

<p *ngIf="!empList"><em>Loading...</em></p>

<p>
    <a [routerLink]="['/register-employee']">Create New</a>
</p>

<table class='table' *ngIf="empList">
    <thead>
        <tr>
            <th>EmployeeId</th>
            <th>Employee Login</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Home Address</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of empList">
            <td>{{ emp.id }}</td>
            <td>{{ emp.employeeLogin }}</td>
            <td>{{ emp.firstName }}</td>
            <td>{{ emp.lastName }}</td>
            <td>{{ emp.phoneNumber }}</td>
            <td>{{ emp.email }}</td>
            <td>{{ emp.homeAddress }}</td>
            <td>{{ emp.departmentId }}</td>
            <td>
            <td>
                <a [routerLink]="['/employee/edit/', emp.employeeId]">Edit</a> |
                <a [routerLink]="" (click)="confirmDelete(emp.employeeId)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
