<h1>{{title}}</h1>
<h3>Employee</h3>
<hr />
<form [formGroup]="employeeForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
    <div class="form-group row">
        <label class=" control-label col-md-12">EmployeeLogin</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="employeeLogin" maxlength="20">
        </div>
        <span class="text-danger" *ngIf="employeeLogin.invalid && formDir.submitted">
            EmployeeLogin is required.
        </span>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="FirstName">FirstName</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="firstName" maxlength="20">
        </div>
        <span class="text-danger" *ngIf="firstName.invalid && formDir.submitted">
            FirstName is required
        </span>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="LastName">LastName</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="lastName" maxlength="20">
        </div>
        <span class="text-danger" *ngIf="lastName.invalid && formDir.submitted">
            LastName is required
        </span>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="PhoneNumber">PhoneNumber</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="phoneNumber">
        </div>
        <span class="text-danger" *ngIf="phoneNumber.invalid && formDir.submitted">
            PhoneNumber is required
        </span>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="Email">email</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="email">
        </div>

        <div *ngIf="email.invalid && formDir.submitted" class="text-danger">
            <div *ngIf="email.errors.required">Email is required.</div>
            <div *ngIf="email.errors.pattern && !email.errors.required">Invalid email(from pattern).</div>
        </div>

    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="HomeAddress">homeAddress</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="homeAddress" maxlength="50">
        </div>
        <span class="text-danger" *ngIf="homeAddress.invalid && formDir.submitted">
            HomeAddress is required
        </span>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="Department">Department</label>
        <div class="col-md-4">
            <select class="form-control" data-val="true" formControlName="department">
                <option value="">--Select Department--</option>
                <option *ngFor="let department of departmentList"
                        value={{department.departmentName}}>
                    {{department.departmentName}}
                </option>
            </select>
        </div>
        <span class="text-danger" *ngIf="department.invalid && formDir.submitted">
            Department is required
        </span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Save</button>
        <button class="btn" (click)="cancel()">Cancel</button>
    </div>
</form>